<h1>NgTuiEdtitor Examples</h1>
<h2>Standalone:</h2>
<tui-editor dir="rtl" height="300px" [ngModel]="title" (change)="editorChange($event)"></tui-editor>
<pre>Value: Check console.</pre>
<h2>ngModel:</h2>
<tui-editor dir="rtl" height="300px" [(ngModel)]="title"></tui-editor>
<pre>Value: {{ title }}</pre>
<h2>ReactiveForm:</h2>
<form [formGroup]="form" (submit)="submit($event)" ngNativeValidate>
	<tui-editor formControlName="editor1" dir="rtl" height="300px"></tui-editor>
	<tui-editor formControlName="editor2" initialEditType="markdown" previewStyle="vertical" height="300px">
	</tui-editor>
	<tui-editor formControlName="editor3" initialEditType="markdown" previewStyle="tab" height="300px">
	</tui-editor>
</form>
<pre>Value: {{ form.value | json }}</pre>